@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkSuite.Library.Asp.Net.Mvc.Presentation.Tests - Home</title>
</head>
<body>
    <ul>
        <li>@Html.RouteLink("ViewElements", "ViewElements")</li>
        <li>@Html.RouteLink("StaticContent", "StaticContent")</li>
        <li>@Html.RouteLink("Reports", "Reports")</li>
        <li>@Html.RouteLink("Editors", "Editors")</li>
        <li>@Html.RouteLink("PageNavigation", "PageNavigation")</li>
        <li>@Html.RouteLink("Tables", "Tables")</li>
        <li>@Html.RouteLink("Tiles", "Tiles")</li>
        <li>@Html.RouteLink("TileGrids", "TileGrids")</li>
        <li>@Html.RouteLink("ViewModel", "ViewModel")</li>
        <li>@Html.RouteLink("DetailsList", "DetailsList")</li>
        <li>@Html.RouteLink("BreadCrumbNavigation", "BreadCrumbNavigation")</li>
        <li>@Html.RouteLink("ContentHeader", "ContentHeader")</li>
        <li>@Html.RouteLink("ShiftCalendarsLister", "ShiftCalendarsLister")</li>
        <li>@Html.RouteLink("ShiftCalendar", "ShiftCalendar")</li>
        <li>@Html.RouteLink("Simple Palette", "SimplePalette")</li>
    </ul>
    
    <h1>
        Mocks
    </h1>
    
    <ul>
        <li>@Html.RouteLink("Colour Picker Null Value Mock", "ColourPickerNullValueMockPresenter")</li>
        <li>@Html.RouteLink("Colour Picker With Value Mock", "ColourPickerWithValueMockPresenter")</li>
        <li>@Html.RouteLink("Colour Display in a tabale ", "SelectColourToDisplayInTable")</li>
    </ul>
    

</body>
</html>
